/*     Global          */

/*----------------------------------------*/
@media only screen and (min-width: 1080px)
/*----------------------------------------*/ 
{
/* Start marktplatz.php    */
.GegenstandEinzeln
{
    padding-left:0;
    flex-direction: row;
    align-items: center;
     justify-content: center;
    border-bottom:1px solid rgb(149, 80, 15);
}
.GegenstandEinzeln img
{
    width: 100px;
	height: 100px;
}

.GegenstandEinzeln input
{
   margin-top: 0px;
}
.GeldX
{
   margin-top: 0px;
}
/* Ende marktplatz.php    */
/* Start pve.php    */
.RahmenContainer
{
    font-size:14px;
}
.Überschrift
{
    width:450px;
    height: 50px;
}
.SpielerRahmenLinks
{
    width:400px;
    height: 425px;
}
.SpielerRahmenrechts
{
    width:400px;
    height: 425px;
}
.spielername1
{
    width:400px;
}
.spielername2
{
    width:400px;
}
/* Ende pve.php    */
}
/* Start Taverne.php    */

/* Ende Taverne.php    */




/*----------------------------------------*/
@media only screen and (max-width: 1079px)
/*----------------------------------------*/ 
{
/* Start rpg.php    */
.Navigation 
{
    margin-left:auto;
    margin-right:auto;
    
}  
.Szenencontainer
{
    display: none;
}
.Inventar
{
    height:180px;
}
#Inventarfenster
{
    width:300px;
    left:calc(50% - 152px);
}
.InventarSlotContainer
{
    width: 50px;
	height:110px;
}
.InventarSlot
{
    width: 40px;
    height: 40px; 
    background-image: url("/Bilder/Rahmen40.png");	
    border-radius:0;
    margin-left:auto;
    margin-right:auto;
}
.ItemImg
{
    width: 35px;
    height: 35px;  
}
.ItemLvLPlakette
{
    width: 15px;
    height: 15px;
    bottom: 10px;
    left:-15px;
}
.ItemLvL
{
    bottom: 32px;
    left:-5px;
    font-size: 8px;
}
.InventarPlakette
{
    width: 15px;
    height: 15px; 
    bottom:55px;
    right:-15px;
}
.ItemAnzahl
{
    right:-25px;
    bottom:76px;
    font-size: 8px;  
}
.ItemName
{
    font-size: 8px; 
    top: -80px;
}
.VerkaufsContainer
{
    top: -80px;
}

/* Ende rpg.php    */


/* Start marktplatz.php*/
.GegenstandEinzeln
{
    padding-left:0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid rgb(149, 80, 15);
}
.GegenstandEinzeln img
{
    width: 100px;
	height: 100px;
}

/*Ende marktplatz.php*/

/*Start pve.php */
.Überschrift 
{
    width:250px;
    height: 50px;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
}
.RahmenContainer
{
    font-size:12px;
}
.SpielerRahmenLinks
{
    width: 200px;
    height: 250px;
}
.spielername1
{
    width: 200px;
    font-size: 14px;
}
.SpielerRahmenRechts
{
    width: 200px;
    height: 250px;
}
.spielername2
{
    width: 200px;
    font-size: 14px;
}
.KampfergebnisseContainer
{
	width:50%;
	height:50%;
	margin-left: 25%;
	margin-right: 25%;
	bottom:25%;
	border: 5px solid grey;
	border-radius: 10px;
	display: block;
	background-color: burlywood;
	position: absolute;
	z-index: 5;
	opacity:0;
	transform: translate(+0%, +0%) scale(0);
	transition: opacity 2s, transform 2s;
}

/* Ende pve.php*/

/* Start taverne.php */

.Spielfeld
{
  width: 460px;

}
#Button
{
    width:50px;
    height:50px; 
}
#NButton
{
    width:50px;
    height:50px; 
}

/* Ende taverne.php */
}

/*----------------------------------------*/
@media only screen and (max-width: 500px) {
/*----------------------------------------*/
label
{
    font-size:10px;
}

/* Start rpg.php    */ 
.Content
{
    font-size:10px;
}   
.Navigation 
{
    width: 300px;
    margin-left:auto;
	margin-right:auto;

}
.AusruestungItem p
{
    left:20px;
}

.AusruestungItem img
{
width: 25px;
height:25px;
}
.verteidigung
{
    width: 30px;
	height:30px;
	bottom:72px;
    left:13px; 
    position: absolute;  
}
.angriff
{
    widows: 30px;
	height:30px;
	bottom:23px;
    left:7px;  
    position: absolute;  
}
.Stats p
{
    margin-left: 10px;
}
#LvLPlakette
{
	position: relative;
	bottom:-60px;
	left:0px;
}
.LvL
{
    bottom:-25px;
	left:0px; 
}
.ruestungswert
{
    bottom:67px;
    left:158px; 
    position: absolute;   
}
.waffenwert
{
    bottom:17px;
    left:158px; 
    position: absolute;  
}
.Waffenname
{
    bottom:0px;
    left:0px;
    position: relative; 
}
#leben
{
    left:100px;
    font-size:10px;
    bottom: 14px;
}
#erfahrung
{
    left:100px;
    font-size:10px; 
    bottom: -10px;
}
#geldcontainer
{
   right:10px;
}
.Beschriftung
{
    font-size: 16px;
}
.NavigationItem
{
    margin-left:0px;
}
.Inventar
{
    width:280px;
    height:120px;
}
#Inventarfenster
{
    width:280px;
    left:calc(50% - 142px);
}
.InventarSlotContainer
{
    width: 50px;
	height:110px;
}
.InventarSlot
{
    width: 40px;
    height: 40px; 
    background-image: url("/Bilder/Rahmen40.png");	
    border-radius:0;
    margin-left:auto;
    margin-right:auto;
}
.ItemImg
{
    width: 35px;
    height: 35px;  
}
.ItemLvLPlakette
{
    width: 15px;
    height: 15px;
    bottom: 10px;
    left:-15px;
}
.ItemLvL
{
    width: 15px;
    height: 15px;
    bottom: 25px;
    left:3px;
    font-size: 8px;
    position: relative;
}
.InventarPlakette
{
    width: 15px;
    height: 15px; 
    bottom:40px;
    right:-15px;
}
.ItemAnzahl
{
    width: 15px;
    height: 15px;  
    right:-33px;
    bottom:54px;
    font-size: 8px; 
    position: relative; 
}
.ItemName
{
    font-size: 8px; 
    top: -60px;
}
.VerkaufsContainer
{
    top: -60px;
}
#Berufsfenster
{
    width:300px;
    left:calc(50% - 153px);
    font-size:8px;
}
.Beruf-Grid-Container
{
    width:250px;
}
#steinbruch
{
    width: 30px;
    height: 30px;
    border:1px solid black;
}
.HandwerksContainer
{
    width: 90%;
    height:550px;
}
.KartenContainer
{
    height:60%;
}
.UmgebungsContainer input
{
    width:150px;
    height:150px;
    border-radius: 40px;
    opacity: 0.5;
}
.UmgebungsContainer input:hover
{
    opacity: 1;
}
.UmgebungsContainer input
{
    width:150px;
    height:150px;
}




/* Ende rpg.php    */

/* Start Marktplatz.php    */
.NavigationMarktplatz
{
    width: 300px;
    margin-left:auto;
    margin-right:auto;
    font-size:10px;
}
.Überschrift 
{
    width:250px;
    height: 40px;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
}
.GegenstandEinzeln
{
    padding-left:0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid rgb(149, 80, 15);
}
.GegenstandEinzeln img
{
    width: 80px;
	height: 80px;
	margin-top:10px;
	margin-left:0;
	display: inline;
}
.GegenstandEinzeln p
{
    width:250px;
    height: 10px;	
    font-size:16px;
}
.GegenstandEinzeln input
{
    width: 40px;
	height: 40px;
    margin-top:0;

}
#GeldX
{
    width: 40px;
	height: 40px;
    margin-top:0;
    padding-top:10px;
}
#geld
{
    width: 20px;
    height: 20px;
    margin-left:5px;
}
/* Ende Marktplatz.php    */

/* Start pve.php */
.RahmenContainer
{
    font-size:10px;
}
.SpielerRahmenLinks
{
    width: 130px;
    height: 200px;
}
.spielername1
{
    width: 130px;
    font-size: 8px;
    padding:5px;
}
.SpielerRahmenRechts
{
    width: 130px;
    height: 200px; 
}
.spielername2
{
    width: 130px;
    font-size: 8px;
    padding:5px;
}
.Plakette
{
    width: 30px; 
    height: 30px;
}
.KampfergebnisseContainer
{
	width:80%;
	height:50%;
	margin-left: 10%;
	margin-right: 10%;
	bottom:25%;
	border: 5px solid grey;
	border-radius: 10px;
	display: block;
	background-color: burlywood;
	position: absolute;
	z-index: 5;
	opacity:0;
	transform: translate(+0%, +0%) scale(0);
	transition: opacity 2s, transform 2s;
}

/* Ende pve.php*/

/* Ende log.php*/
.Logliste table, td
{
    width:auto;
    font-size:8px;
}

/* Ende log.php*/

/* Start taverne.php */
.Spielfeld
{
  width: 90%;
  font-size:10px;

}
#New
{
    width: 100px;
    height: 30px;
}
#setzen
{
    
    width: 100px;
     height: 30px;
    
}
#Spieler
{
   font-size: 10px;
}
#Gegenspieler
{
    font-size: 10px;
}
.Spiel
{
    height: 25%;
}
#Button
{
    width:40px;
    height:40px; 
}
#NButton
{
    width:40px;
    height:40px; 
}
#p img
{
  width:30px;
  height:30px;
}
#npc img
{
  width:30px;
  height:30px;
}
.PlatzhalterWuerfeln
{
	height:30px;
}


/* Ende taverne.php */

}


