@font-face {
	font-family: "PerryGothic";
	src: url("./Fonts/PERRYGOT.eot"); /* IE9 Compat Modes */
	src: url("./Fonts/PERRYGOT.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("./Fonts/PERRYGOT.otf") format("opentype"), /* Open Type Font */
	  url("./Fonts/PERRYGOT.svg") format("svg"), /* Legacy iOS */
	  url("./Fonts/PERRYGOT.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("./Fonts/PERRYGOT.woff") format("woff"), /* Modern Browsers */
	  url("./Fonts/PERRYGOT.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
.Hintergrund
{
	width: 100%;
	height: 100%;
    margin:0;
	background-image: url("/Bilder/Szene.png");		
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	z-index: -1;
	opacity: 0.8;
	position: fixed;
}
.HintergrundTaverne
{
	width: 100%;
	height: 100%;
    margin:0;
	background-image: url("/Bilder/TavernenHintergrund.png");		
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	z-index: -1;
	opacity: 0.8;
	position: fixed;
}
html
{
	width:100%;
	height:100vh;

}

body
{
	width:100%;
	height:100vh;
	background-color: transparent;
	color:rgb(0, 0, 0);
	margin:0;
	font-family: "PerryGothic";
	position: absolute;
	font-size: 14px;
}
.inputinvalid
{
	border-color:red;
}
.inputvalid
{
	border-color:green;
}
input:invalid
{
	border-color:red;
}
input:valid
{
	border-color:green;
}

.Inhalt
{
	width:100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.Logo
{
	margin-top: 50px;
	margin-bottom:50px;
	display: grid;
	place-items: center;
}
.Logo img
{
   width:100%;
   max-width: 500px;
   height: auto;
}
.CursorPointer
{
	cursor: pointer;
}

/*  Start index.php  */
.LoginContainer
{
	width: 300px;
	margin-left:auto;
	margin-right:auto;
	display: grid;
	place-items: center;
}
.LoginContainer form
{
	width: 250px;
	display: grid;
	margin-left:auto;
	margin-right:auto;
	place-items: center;
	background-color: burlywood;
	border-radius:10px;
	padding:10px;
	border: 5px solid rgb(0, 0, 0);

}
.LoginButtons
{
	display: grid;
	place-items: center;
}
.LoginButtons input
{
   width:150px;
   height: 50px;
   margin-top:10px ;  
}
.LoginButtons button img
{
	width:150px;
	height: 50px;
	margin-top:10px ;  
}
.LoginButtons button img:hover
{
	cursor: pointer;
}
#paypal img
{
	width: 300px;
	height: 150px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}
.Spielbeschreibung
{
   width: 80%;
   margin-right: auto;
   margin-left: auto;
   background-color: burlywood;
   padding:10px;
   border-radius:10px;
   border: 5px solid rgb(0, 0, 0);
}
.RegistrierungsContainer
{
	margin-top:50px;
	display: grid;
	place-items: center;
}
.RegistrierungsContainer img
{
   width:100%;
   max-width: 300px;
   height: auto;
}
.Platzhalter
{
	width: 100%;
	height: 100px;
	position: relative;
	bottom:0;
}

footer
{
	width: 100%;
	height: 50px;
	bottom: 0;
	background-color: black;
	color: white;
	display: grid;
	place-items: center;
	font-size: 0.8em;
	position: fixed;
	float: bottom;
}
footer a
{
	color: white;
}

/*  Ende index.php  */

/*  Start rpg.php  */

.Content
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin:0px;
}
.Navigation
{
    width: 500px;
	height: auto;
	margin-left:1%;
	margin-top: 5px;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	border: 3px solid rgb(0, 0, 0);
	border-radius:10px;
	background-color: burlywood;
}
.SzenenContainer
{
	width: calc(100% - 560px);	
	height: 85%;
	margin-top: 0;
	margin-bottom: auto;
	margin-left:10px;
	margin-right:10px;
	flex:1;
}
.SpielerInfoContainer
{
	width: 100%;
	height: auto;
	display:flex;	
	position: relative;
    border-radius: 10px;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color: burlywood;
}
.Avatarbild
{   
	width:100%;
	height:90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative; 
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color: burlywood;
}
.LvL
{
	width:40px;
	height:40px;
	display: flex;
	bottom:-20px;
	left:0px;
	position: relative;
	z-index:3;
	justify-content: center;
	vertical-align: auto;
	align-items: center;
}
.LvL p
{   
	font-weight: bold; 
}
.Spielerbildrahmen
{
	width: 80px;
	height:80px;
	margin-left: auto;
	margin-right:auto;
	position: absolute;
	z-index:1;
}
.Spielerbild
{
	width:80px;
	height:80px;
	z-index:0;
	border-radius: 8px;
	position: absolute;
}
#LvLPlakette
{
	position: relative;
	bottom:-60px;
	left:0px;
}
.Plakette
{
	width:40px;
	height:40px;
	z-index:2;
}
.Bildupload
{
	left: 100px;
	position: relative;
}

#bild-hochladen
{
    display: none;
}
.Bildupload label
{
	color:rgb(0, 0, 0);
	margin:3px;
}
.Angepasster-Input
{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 1px 2px;
	cursor: pointer;
	background-color: rgb(126, 126, 126);
	color:rgb(0, 0, 0);
	border: 3px outset grey;
	border-radius: 3px;
	margin:3px;
}
.Avatarbutton
{
	width: 20px;
	height: 20px;
	margin:3px;
	cursor: pointer;
}
.Ausruestung
{
	width: 100%;
	height: 100px;
	position: relative;
	display: flex;
	flex-direction: row;
}
.AusruestungItem
{
width: 50%;
height:auto;
}
.AusruestungItem img
{
width: 40px;
height:40px;
}
.AusruestungItem p
{
	left:20px;
	position: relative;
	padding-right:20px;
}
.RuestungContainer
{
	width: 100%;
	height: 50%;
	display:flex;
	flex-direction: row;
	align-items: left;
}
.Auslogbutton
{
	width: 30px;
	height: 30px;
	background: url('/Bilder/Ausloggen_20.png') ;
	background-size: cover;	
	border: 0;
}
.Auslogbutton:hover
{
	cursor: pointer;
}
.Einstellungen img
{
	width: 30px;
	height: 30px;
}
#Nachrichten
{
	width: 30px;
	height: 30px;
}

#Nachrichten img
{
	width: 30px;
	height: 30px;
}
#Schriftrolle
{
	width:30px;
	height:30px;
	display: flex;
	position: relative;
	z-index:3;
	justify-content: center;
	vertical-align: auto;
	align-items: center;
	font-size:10px;
	color:red;
	cursor: pointer;
}
#Schriftrolle
{
	bottom:30px;
}
.verteidigung
{
	width:40px;
	height:40px;
	display: flex;
	bottom:57px;
	left:30px;
	position: absolute;
	z-index:3;
	justify-content: center;
	vertical-align: auto;
	align-items: center;
}
.angriff
{
	width:40px;
	height:40px;
	display: flex;
	bottom:7px;
	left:30px;
	position: absolute;
	z-index:3;
	justify-content: center;
	vertical-align: auto;
	align-items: center;
}
.ruestungswert
{
width:40px;
height:40px;
display: flex;
bottom:60px;
left:280px;
position: absolute;
z-index:3;
justify-content: center;
vertical-align: auto;
align-items: center;
}

.waffenwert
{
	width:40px;
	height:40px;
	display: flex;
	bottom:10px;
	left:280px;
	position: absolute;
	z-index:3;
	justify-content: center;
	vertical-align: auto;
	align-items: center;
}
.Stats
{
  width: 100%;
  height:auto;
  margin-top: 10px;
  position: relative;
}
#Titel
{
	margin-left:5px;
}
.Stats p
{
	display: inline;
	margin-left: 20px;
}
.Stats img
{
	width:20px;
	height:20px;
	margin-left:10px;
}
.Navigationsleiste
{
	width: auto;
	height:50px;
	display:flex;
	top: 0px;
	align-items: center;
	justify-content: center;
	flex-direction: row;	
}
.NavigationItem
{
	width: auto;
	height: auto;
	margin-left:20px;
	display: block;
}
.NavigationItem img
{
   width:30px;
   height:30px;
}
#geldcontainer
{
	right:10;
	bottom: 0;
	position: absolute;
}

#leben
{
	left:155px;
	bottom: 10px;
	position: absolute;
	font-size: 14px;
}
#erfahrung
{
	left:155px;
	bottom: -15px;
	position: absolute;
	font-size: 14px;
}

.form
{
	width: 30px;
	height:30px;
}




.SpielerlisteContainer
{
	width: 90%;
	height: 90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2.5%;
	display:flex;	
	position: relative;
	flex-direction:column;
	background-color: burlywood;
	border:1px solid black;
	border-radius:10px;
}
.SpielerlisteContainer p
{
	margin-left: 10px;
}
.admin 
{	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	display: inline;
}
.SpielerlisteBilder
{
	width: 50px;
	height: 50px;
	margin-left: 10px;
}
.Spielerliste
{
	width: 100%;
	height: 85%;
	overflow-y: scroll;
	z-index: 1;
	padding:5px;
}
.Online
{
	width: 20px;
	height: 20px;
	padding-bottom:15px; 
}

.Menu
{
	width: 100%;
	height:100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.MarktplatzContainer
{
	width: 100%;
	height: 20%;
	margin-left:auto;
	margin-right:auto;
	display:flex;	
	position: relative;
	align-items:center;
	background-color: burlywood;
}
.Aktionsbilder 
{
	width:45%;
	height: 90%;
	right:0px;
	position: absolute;
	margin-right: 2%;
}
.Aktionsbilder img
{
    width: 100%;
	height: 100%;
	object-fit: fill;
}
.Beschriftung
{
margin-left:10%;
font-size: 24;
}
.PVPKampfContainer
{
	width: 100%;
	height: 20%;
	margin-left:auto;
	margin-right:auto;
	display:flex;	
	position: relative;
	align-items:center;
	background-color: burlywood;
}
.PVEKampfContainer
{
	width: 100%;
	height: 20%;
	margin-left:auto;
	margin-right:auto;
	display:flex;	
	position: relative;
	align-items:center;
	flex-direction:row;
	border-bottom-left-radius :7px ;
	border-bottom-right-radius :7px ;
	background-color: burlywood;
}
#Nachrichtenfenster
{
	width: 90%;
	height: 500px;
	margin:auto;
	left:5%;
	top:5%;
	border: 3px solid black;
	border-radius: 10px;
	background-color: burlywood;
	z-index: 5;
	display: block;
	position: absolute;
	opacity:0;
	transform: translate(+0%, +0%) scale(0);
	transition: opacity 1s, transform 1s;	
}
#NachrichtenContainer
{
	width:96%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	border:1px solid black;
	display:flex;
	overflow-y: auto;
	padding:5px;
	margin-bottom: 5px;
	flex-direction: column-reverse;
	position: relative;
}
.NachrichtenSendeContainer
{
	width: 100%;
	height:auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}
.NachrichtenSendeContainer textarea
{
	width: 280px;
	height:auto;
}
.NachrichtenSendeContainer img
{
	width: 150px;
	height:auto;
	cursor: pointer;
}
#nachrichtloeschen
{
	width: 20px;
	height:20px;
	cursor: pointer;
}
#allenachrichtenloeschen
{
	width: 30px;
	height:30px;
	cursor: pointer;
}
#Inventarfenster
{
	width: 600px;
	height: 80%;
	margin:auto;
	left:calc(50% - 300px);
	top:5%;
	border: 3px solid black;
	border-radius: 10px;
	background-color: burlywood;
	z-index: 10;
	display: block;
	position: absolute;
	opacity:1;
	transform: translate(+0%, +0%) scale(0);
	transition: opacity 1s, transform 1s;	
}
#Inventardiv
{
width:30px;
height:30px;
display: flex;
position: relative;
justify-content: center;
vertical-align: auto;
align-items: center;
cursor: pointer;
}
.InventarContainer
{
	width: 100%;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.Inventar
{
  width:500px;
  height:150px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-align: center;
  border-radius:10px;
}
.InventarSlotContainer
{
	width:100px;
	height:100%;
	background-color: burlywood;
}
.InventarSlot
{
	width:100%;
	height:100px;
	background-image: url("/Bilder/Rahmen.png");		
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	background-color:  rgb(255, 223, 181);
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}
.Itemimg
{
	width: 80px;
	height: 80px;
	position: relative;
	z-index: 10;
}
.ItemLvLPlakette
{
	width:30px;
	height:30px;
	bottom:15px;
	left:-30px;
	position: relative;
}
.ItemLvL
{
	width:30px;
	height:30px;
	bottom:45px;
	left: +5;
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
}
.InventarPlakette
{
	width:30px;
	height:30px;
	bottom:75px;
	right:-30px;
	position: relative;
}
.ItemAnzahl
{
	width:30px;
	height:30px;
	bottom:105px;
	right:-65px;
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
}
.ItemName
{
	top:-110px;
	position: relative;
}
.VerkaufsContainer
{
	width: 25px;
	height:25px;
	margin-left: auto;
	margin-right: auto;
	top: -110px;
	position: relative;
	cursor: pointer;
}
.VerkaufsContainer input
{
	width: 25px;
	height:25px;
}

#Berufsfenster
{
	width: 600px;
	height: auto;
	margin:auto;
	left:calc(50% - 300px);
	top:5%;
	border: 3px solid black;
	border-radius: 10px;
	background-color: burlywood;
	z-index: 10;
	display: block;
	position: absolute;
	opacity:1;
	transform: translate(+0%, +0%) scale(0);
	transition: opacity 1s, transform 1s;	
	font-size:10px;	
}
#Berufdiv
{	
	width:30px;
	height:30px;
	display: flex;
	position: relative;
	justify-content: center;
	vertical-align: auto;
	align-items: center;
	cursor: pointer;		
}
.Beruf-Grid-Container
{
	width: 550px;
	height: 90%;
	position: relative;
	margin:25px;
	margin-top:70px;
	display:inline-grid;
	grid-template-columns: auto auto auto;
}
.Beruf-Item
{
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Beruf-Item-Gekauft
{
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(233, 196, 147);
	border-radius: 20px;
}
.BerufImg
{
	width:50px;
	height:50px;
}

.Kartencontainer
{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right: auto;
	margin-top:80px;
	position: relative;		
}
#Karte
{
    width: 100%;
    height: 100%;
}

.Ort img
{
	width: 100%;
	height: 100%;
}
.Ort:hover
{
	transform: scale(1.1);
}

.HandwerksContainer
{
	width:600px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	border:3px solid black;
	border-radius:10px;
	display:flex;
	align-items: center;
	flex-direction: column;
	background-image: url("/Orte/Steinbruch.png");		
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}
#ItemAnzeige
{	
background-color: burlywood;
border-radius: 10px;
}

.HandwerkItemContainer
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}
#steinbruch
{
   width: 50px;
   height: 50px;
   top: 65%;
   left: 46%;
   position: absolute;	
   background-color:green;
   border-radius: 50%;
   border:3px solid black;
}
.UmgebungsContainer
{
	width: 60%;
	height: 550px;
	border-radius: 100px;	
	display:flex;
	justify-content: center;
	align-items: center;
}
.AktionsButtonContainer
{
	width: 200px;
	height: 200px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.AktionsButtonContainer input
{
	width: 200px;
	height: 200px;
	border-radius: 80px;
	opacity: 0.5;
	background-color: white;
}
.AktionsButtonContainer input:hover
{
    opacity: 1;
}
.AktionsButtonContainer input
{
	width: 200px;
	height: 200px;
}

.RohstoffItem
{
	width:100px;
	height: 100px;
}
.Pfeil
{
	width: 50px;
	height: 50px;
}







/*  Ende rpg.php  */

/*  Start Marktplatz marktplatz.php  */
.NavigationMarktplatz
{
	width: 500px;
	height: auto;
	margin-left:auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.Überschrift 
{
	width:290px;
	height:auto;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	border: 5px solid rgb(0, 0, 0);
	background-color: rgb(255, 217, 167);	
	background-color:burlywood;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	display:flex;
}

.WaffenContainer
{
	width: 90%;
	height: auto;
	margin-top:10px;
	margin-bottom: 50px;
	margin-left:auto;
	margin-right:auto;
	display:flex;	
	align-items:center;
	justify-content:center;
	flex-direction:column;
	border-radius:10px;
	background-color: rgb(255, 217, 167);
	background-color:burlywood;
}

.Waffenliste
{   
	width: 100%;
	height: 50%;
	border-radius:10px;
	border-bottom: none;
	font-size: 20px;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;	
	background-color:burlywood;
	background-color: rgb(255, 217, 167);
}
.GegenstandEinzeln
{
	width:100%;
	margin-right:auto;
	margin-left:auto;
	display: flex;
	flex-direction: row;
	padding-left:10px;	
}
.GegenstandEinzeln:nth-child(2n)
{
  background-color: rgb(235, 193, 143);
}
.GegenstandEinzeln:last-child
{
	border-bottom:none;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

.GegenstandEinzeln img
{
	width: 80px;
	height: 80px;
	margin-top:10px;
	margin-left:10px;
	display: inline;
}
.GegenstandEinzeln p
{
	width:220px;	
	margin-left:20px;
}
.GegenstandEinzeln input
{
	width: 60px;
	height: 60px;
	margin-top:30px;
	position: relative;
	right:0%;
	bottom: -20px;
}
#GeldX
{
	width: 60px;
	height: 60px;
	margin-top:30px;
	position: relative;
	right:0%;
}
#geld
{
	width: 20px;
	height: 20px;
}
.RuestungsContainer
{
	width: 280px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	display:flex;	
	position: relative;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	border: 5px outset grey;
}
.RuestungsContainer img
{
	width: 20px;
	height: 20px;
}
.HeilstubeContainer
{
	width: 280px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	display:flex;	
	position: relative;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	border: 5px outset grey;
}
.HeilstubeContainer img
{
	width: 20px;
	height: 20px;
}
/*  Ende Marktplatz marktplatz.php  */

/*  Start themen.php  */

.Themen
{
	width: 280px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
    padding:10;	
	border: 5px outset grey;
	background-color: burlywood;
}
.Themen p
{
	text-align:center;
}

.Gegner
{
	width: 280px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
    padding:10;	
	border: 5px outset grey;
	background-color: burlywood;
}
.Gegner p
{
	text-align:center;
}

.Bildrahmen
{
	width:80px;
	height:80px;
	position: absolute;
	z-index:1;
}
.Bild
{
	width:80px;
	height:80px;
	z-index:0;
}

.Waffen
{
	width: 280px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
    padding:10;	
	border: 5px outset grey;
	background-color: burlywood;
}
.Waffen p
{
	text-align:center;
}
.Ruestung
{
	width: 280px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
    padding:10;	
	border: 5px outset grey;
	background-color: burlywood;
}
.Ruestung p
{
	text-align:center;
}
.Tränke
{
	width: 280px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
    padding:10;	
	border: 5px outset grey;
	background-color: burlywood;
}
.Tränke p
{
	text-align:center;

}
/*  Ende themen.php  */

/*  Start pvp.php */

.Zurückbutton
{
	width:80px;
	height: auto;
	left: calc(50% - 40px);
	justify-content: center;
	position: fixed;
	z-index: 100;
	opacity: 0.5;
	transform: scale(0.9);
}
.Zurückbutton:hover
{
	opacity: 1;
	transform: scale(1);
}
#kampfstartenbutton img
{
   width: 60px;
   height: 60px;
}

.Zurückbutton img
{
	width:80px;
	height: 80px;
	cursor: pointer;
}

.Zurückbutton button
{
	width:80px;
	height: 80px;
	border-radius: 20px;
	margin-top:20px;
}
.Zurückbutton button:hover
{
	cursor: pointer;
}
.RahmenContainer
{
	width: 100%;
	height: 60%;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}
.SpielerRahmenLinks
{
	width: 40%;
	height:60%;
	position: absolute;
	left:5%;
}
.SpielerBildRahmenLinks
{
	width:95%;
	height:95%;
	border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:1%;
}
.SpielerBildLinks
{
	width: 100%;
	height:100%;
	left: 0px;
	top: 0px;
	z-index:1;
	border-radius: 10px;
}
#RuestungRahmenLinks
{
	width:30%;
	height:25%;
	bottom:26% ;
	right:-1%;
	z-index:0;
	border-radius: 10px;
	position: relative;
}
.RuestungsBilder
{
	width:100%;
	height:100%;
	border-radius: 10px;
}
#PVERPC
{
	width:40px;
	height:40px;
	display: flex;
	top:-20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index:3;
	justify-content: center;
	vertical-align: auto;
	align-items: center;
}
.ruestungswert1
{
	text-align: center;
	position: absolute;
	z-index:3;
}
#LebenRahmenMitte
{
	width:30%;
	height:25%;
	bottom:51% ;
	left:35%;
	border: 1px outset grey;
	border-radius: 10px;
	position: relative;
	background-color: grey;
}
#LebenRahmenMitte2
{
	width:30%;
	height:25%;
	bottom:51% ;
	left:35%;
	border: 1px outset grey;
	border-radius: 10px;
	position: relative;
	background-color: grey;
}
.LebensBild
{
	width:100%;
	height:100%;
	border-radius: 10px;	
}
.lebentext1
{
	bottom:-40% ;
	position: relative;
	text-align: center;
}
.lebentext1 p
{
	font-size: 100%;
	display: inline;
}
#AngriffRahmenLinks
{
	width:30%;
	height:25%;
	bottom:76% ;
	right:-69%;
	border-radius: 10px;
	position: relative;
}
.AngriffBild
{
	width:100%;
	height:100%;	
	border-radius: 10px;
}
#PVEAPC
{
	width:40px;
	height:40px;
	display: flex;
	top:-20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index:3;
	justify-content: center;
	vertical-align: auto;
	align-items: center;
}
.angriffswert1
{
	text-align: center;
	position: absolute;
	z-index:3;
}
.spielername1
{
	width: 50%;
	margin-top:10px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 24px;
	background-color: burlywood;
	border-radius: 5px;
	border: 1px solid black;
}
.SpielerRahmenMitte
{
	width: 8%;
	height:auto;
	float:left;
	margin-left:auto;
	margin-right:auto;
}
.SpielerRahmenRechts
{
	width: 40%;
	height: 60%;
	position: absolute;
	right:5%;
}
.SpielerBildRahmenRechts
{
	width:95%;
	height:95%;
	border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:1%;
}
.SpielerBildRechts
{
	width: 100%;
	height:100%;
	border-radius: 10px;
}
#AngriffRahmenRechts
{
	width:30%;
	height:25%;
	bottom:76% ;
	right:-1%;
	position: relative;
	border-radius: 10px;
}
#gegnerschaden
{
text-align: center;
position: absolute;
z-index:3;	
}
#gegnerleben
{
	text-align: center;
	position: absolute;
	z-index:3;
}
#RuestungRahmenRechts
{
	width:30%;
	height:25%;
	bottom:26% ;
	right:-69%;
	z-index:0;
	position: relative;
	border-radius: 10px;
}
#PVEGLPC
{
	width:40px;
	height:40px;
	display: flex;
	top:-20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index:3;
	justify-content: center;
	vertical-align: auto;
	align-items: center;	
}
#gegnerleben
{
	text-align: center;
	position: absolute;
	z-index:3;	
}
#spieler2ruestungswert
{
	text-align: center;
	position: absolute;
	z-index:3;	
}
#spieler2angriff
{
	text-align: center;
	position: absolute;
	z-index:3;	
}
.lebentext2
{
	bottom:-40% ;
	position: relative;
	text-align: center;
}
.lebentext2 p
{
	font-size: 100%;
	display: inline;
}
.spielername2
{
	width: 50%;
	margin-top:10px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 24px;
	background-color: burlywood;
	border-radius: 5px;
	border: 1px solid black;
}

/*  Ende pvp.php */

/*  Start pve.php */

#LebenRahmenRechts
{
	width:30%;
	height:25%;
	bottom:26% ;
	left:69%;
	border-radius: 10px;
	position: relative;
}
#AngriffRahmenGegnerLinks
{
	width:30%;
	height:25%;
	bottom:51% ;
	right:-1%;
	border-radius: 10px;
	position: relative;
}
.KampfergebnisseContainer
{
	width:30%;
	height:40%;
	margin-left: 35%;
	margin-right: 35%;
	bottom:30%;
	border: 5px solid rgb(0, 0, 0);
	border-radius: 10px;
	display: block;
	background-color: burlywood;
	position: absolute;
	z-index: 5;
	opacity:0;
	transform: translate(+0%, +0%) scale(0);
	transition: opacity 2s, transform 2s;
}
.KampfergebnisseContainer p
{
	text-align: center;
}
/*  Ende pve.php */
/* Start log.php */
.WaffenContainer
{
	justify-content: left;
}
.Logliste table, td
{
	width: 10%;
	border: 1px solid black;
	text-align: left;
	padding: 3px;
}
/* Ende log.php */
/* Start einstellungen.php */
.PasswortContainer
{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	display: grid;
	place-items: center;
}

/* Ende einstellungen.php */


/* Start tavern.php */

.Spielfeld
{
  width: 700px;
  border: 2px solid Black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top:5px;
  background-color: burlywood;
  padding: 10px;

}

.Spiel
{
  width: 100%;
  height: 30%;
}
#Spieler
{
 font-size:20px;

}
#GegenSpieler
{
 font-size:20px;

}
.Button
{
 width:100%;
 height:auto;
 margin-left: auto;
 margin-right: auto;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;	
}


.label
{
 width:60%;
 margin-left: auto;
 margin-right: auto;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: left;
}

.p
{
 display:inline;
 width:50px;
 height:50px;
 border:gray 5px groove;
}
#p img
{
	margin-left:5px;
}

.npc
{
 display:inline;
 width:50px;
 height:50px;
 border:gray 5px groove;
}
#npc img
{
	margin-left:5px;
}

#Button
{
	width:80px;
	height:80px;
}

#NButton
{
	width:80px;
	height:80px;
}

#New
{
width: auto;
height:50px;
margin-top:10px ;
}
#setzen
{
width: 150px;
height:50px;
margin-top:10px ;
}

#Meldung
{
 margin-top:10px;
}

#Guthaben
{
  float:right;
  margin-right:20px;
}
#Guthabenwert
{
  float:right;
  margin-right:20px;

}
#Einsatzwert
{
  float:right;
  margin-right:20px;

}
#highscore
{
  float:right;
  margin-right:20px;
}
#date
{
  float:right;
  margin-right:20px;
}


#npcScore
{
  float:right;
  margin-right:20px;
}

canvas 
{
    border:5px solid black;
    background-color: orange;
	border-radius: 5em;
    margin-left:200px;
	float:left;
}

#Mute
{
 width : 200px;
 margin-left:260px;
 margin-top:20px;

}
#continue
{
 width : 200px;
 margin-left:260px;
 margin-top:650px;
}

/* Ende tavern.php */
